:root {
  /* Set up color scheme */
  --primary: #646cff;
  --primary-dark: #4d53e6;
  --secondary: #ff6464;
  --secondary-dark: #ff4d4d;
  --background: #242424;
  --background-dark: #1a1a1a;
  --text: #fff;
  --text-dark: #000;
  --text-secondary: #ff6464;
  --text-secondary-dark: #ff4d4d;
  --link: #646cff;
  --link-dark: #4d53e6;

  color-scheme: light dark;


}




:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  z-index: 5;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.hidden {
  display: none;
}


.nav-container {
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 5;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
}
.nav-button {
  display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav ul {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px; 
    right: 20px; 
    padding: 10px;
  }

  .active ul {
    display: flex;
    position: relative;
    top: auto;
    left: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .active nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;


  }
  .nav-container.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
    text-align: left;
  }

  .nav li {
    margin-bottom: 10px;
  }

  .nav-button {
    display: block;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
  .nav-container {
    position: relative;
  }
  .nav-container .active {
    display: flex;

  }
}

/* container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;

  flex-grow: 1;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 100%;
  margin: 0;

  

}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  flex-direction: column;
   
}

/* styles for login and signup forms */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
  text-align: left;
  gap: 1rem;
  max-width: 100%;
  background-color: #333;
  padding: 2rem;
  border-radius: 10px;
}
.form-container label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.form-container input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color:#242424;
}

.form-container .hidden {
  display: none;
}
form.form-container.hidden {
  display: none;
}
.form-container .error {
  display: flex;
  color: rgb(251, 138, 138);
  font-weight: 600;
  font-style: italic;
}
.form-container button {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

input.input-error {
  border: 2px solid rgb(182, 54, 54);
}
input:focus {
  background-color: rgb(53, 93, 53);
}
input.input-error:focus {
  background-color: rgb(59, 15, 15);

}

/* Style for create post module */

.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

}

/* styles for post module */

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 70%;
  background-color: #333;
  padding: 2rem;
  border-radius: 10px;
}

.post-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.post-header h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.post-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.post-body img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.post-cat {

  font-weight: 500;
  font-style: italic;

}
.post-date {
  font-size: .8rem;
  font-weight: 500;
  font-style: italic;
}
.posts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 70%;
  background-color: #333;
  padding: 2rem;
  border-radius: 10px;
}


/* leaderboard */

/* Leaderboard has 3 rows in a grid that can wrap */

.leaderboard-container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 5fr));
  gap: 1rem;
  width: 80vw;
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 5rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.leaderboard-container ul {
  list-style: none;
  text-align: left;
}
.top-day, .top-month, .top-alltime {
  align-self: start;
  width: 25vw;

}
/* styles for profile module */

/* Array of cats represented as a grid that can wrap */

.profile-cats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 80vw;
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 70%;
  background-color: #333;
  padding: 2rem;
  border-radius: 10px;
}

.profile-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 80vw;
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* styles for cat grid */
.cats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 80vw;
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}


img.cat-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

