:root {
	/* Set up color scheme */
	--primary: #646cff;
  --secondary: #242424;
  --accent: #646cff;

  --text: #e9e9e9;
  --text-disabled: #bdbdbd;
  --text-secondary: #999999;
  --text-accent: #646cff;
  --background: #000000;
  --background-secondary: #222222;
  --button: #1a1a1a;
  --error: #f44336;
  --success: #4caf50;
	color-scheme: light dark;
}
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: var(--background);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  overflow-x:none;
}
p, h1, h2, h3, h4, h5, h6, svg, button {
  color: var(--text);
  padding: 0;
}
h1, h2, h2, h3, h4, h5, h6 {
  margin: 0rem;
}
.login-container h1, .register-container h1 {
  margin: 1rem;
}

a {
	font-weight: 600;
	color: var(--text);
	text-decoration: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
  text-align: center;
}
a:hover {
	color: rgb(184, 184, 184);
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
  overflow-x:none;
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 600;
	font-family: inherit;
	background-color: var(--background-secondary);
	cursor: pointer !important;
	transition: border-color 0.25s;
	display: flex;
	justify-content: center;
	align-items: center;
}
button:hover {
	border-color: var(--accent);
}
button:focus,button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
select {

	background-color: var(--background);
	border: 2px solid black;
	border-radius: 8px;
	padding: .5rem;
}
.hidden {
	display: none !important;
}
.nav-container {
	background-color: var(--background);
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
  position: fixed;

	z-index: 5;
  
}
.about-container p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .25rem;
}
.note a {
  text-decoration: underline;
}
nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  width: 100%;



}


.nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.nav a {
	color: var(--text);
	text-decoration: none;
}
.nav-button {
	display: none;
}
/* Mobile Styles */
@media (max-width: 768px) {
	.nav ul {
		display: none;
		flex-direction: column;
		background-color: var(--background-secondary);
		position: absolute;
		top: 60px;
		right: 20px;
		padding: 10px;
	}
	.active ul {
		display: flex;
		position: relative;
		top: auto;
		left: auto;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	.active nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.nav-container.active {
		display: flex;
		justify-content: space-between;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		position: fixed;
		z-index: 5;
		text-align: left;
	}
	.nav li {
		margin-bottom: 10px;
	}
	.nav-button {
		display: block;
		background-color: var(--background-secondary);
		color: var(--text);
		border: 3px solid var(--background);
		cursor: pointer;
		position: fixed;
		top: 1rem;
		left: 1rem;
	}
	.nav-container {
		position: relative;
	}
	.nav-container .active {
		display: flex;
	}
}
/* container */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
	flex-grow: 1;
  margin-bottom: 5rem;
}
/* footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-secondary);
	width: 100%;
	margin: 0;
}
footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 1rem;
	flex-direction: column;
}
/* styles for login and signup forms */
.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	gap: 1rem;
	max-width: 100%;

	background-color: var(--background-secondary);
	padding: 2rem;
	border-radius: 10px;

}
.form-container label {
	font-size: 1.2rem;
	font-weight: 900;
	margin-bottom: 0.5rem;
}
.form-container input {
	width: 100%;
	padding: 0.5rem;
	border-radius: 10px;
	border: 1px solid rgb(17, 17, 17);
	font-size: 1rem;
	margin-bottom: 1rem;
	background-color:var(--background);
}
.form-container button {
  background-color: var(--background);
}
.form-container .hidden {
	display: none;
}
form.form-container.hidden {
	display: none;
}
.form-container .error {
	display: flex;
	color: var(--error);
	font-weight: 600;
	font-style: italic;
}
.form-container button {
	width: 100%;
}
.form-container button:hover {
  border-color: var(--text-disabled);
}
button:hover {
  border-color: var(--text-disabled);
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
input:focus {
  outline: 1px solid var(--text-disabled);
}

input.input-error {
	border: 2px solid var(--error);
}


input.input-error:focus {
	background-color: var(--button);
}
/* Style for create post module */
.create-post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
/* styles for post module */
.post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	max-width: 70%;
	background-color: var(--background-secondary);
	padding: 2rem;
	border-radius: 10px;
}
.post-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 1rem;
}
.post-header h2 {
	font-size: 1.5rem;
	font-weight: 500;
}
.post-title {
  font-weight: 900;
  font-size: 1.5rem;
}

.post-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
}
.post-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 1rem;
}
.post-footer a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.post-body img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}
.post-cat {
	font-weight: 400;
	font-style: italic;
  color:var(--text-disabled)
}
.post-date {
	font-size: .8rem;
	font-weight: 400;
	font-style: italic;
  color:var(--text-disabled)
}
.posts-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5rem;
	padding: 1rem;
}
.post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	max-width: 70%;
	background-color: var(--background-secondary);
	padding: 2rem;
	border-radius: 10px;
  -webkit-box-shadow:0px 0px 201px 26px rgba(38,38,38,0.8);
  -moz-box-shadow: 0px 0px 201px 26px rgba(38,38,38,0.8);
  box-shadow: 0px 0px 201px 26px rgba(38,38,38,0.8);
}
.not-liked {
	color: var(--text-disabled);
}
.liked {
	color: red;
}
button.favorite-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
/* leaderboard */
/* Leaderboard has 3 rows in a grid that can wrap */
.leaderboard-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 5fr));
	gap: 1rem;
	width: 80vw;
	max-width: 70%;
	margin: 0 auto;
	padding: 1rem;
	padding-top: 5rem;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.leaderboard-container ul {
	list-style: none;
	text-align: left;
}
.top-day, .top-month, .top-alltime {
	align-self: start;
	width: 25vw;
}
/* styles for profile module */
/* Array of cats represented as a grid that can wrap */
.profile-cats {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	width: 80vw;
	max-width: 70%;
	margin: 0 auto;
	padding: 1rem;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;

}
.cat-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 70%;
	background-color: var(--background-secondary);
	padding: 2rem;
	border-radius: 10px;
  -webkit-box-shadow:0px 0px 201px 26px rgba(38,38,38,0.8);
  -moz-box-shadow: 0px 0px 201px 26px rgba(38,38,38,0.8);
  box-shadow: 0px 0px 201px 26px rgba(38,38,38,0.8);
}
.profile-posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	width: 80vw;
	max-width: 70%;
	margin: 0 auto;
	padding: 1rem;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.profile-post img{
	max-width: 100%;
	max-height: 10rem;
	object-fit: cover;
	border-radius: 10px;

}
.profile-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	max-width: 70%;
	padding: 2rem;
	border-radius: 10px;

}
/* styles for cat grid */
.cats-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	width: 80vw;
	max-width: 70%;
	margin: 0 auto;
	padding: 1rem;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;

}
.profile-container.post-body img {
	width: 5rem;
}
img.cat-img {
	max-width: 100%;
	max-height: 10rem;
	object-fit: cover;
	border-radius: 10px;
}
.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
	flex-grow: 1;
	padding: 5rem;
	width: 100%;
	min-height: 50vh;
}
/* styles for ratings */
.rating-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 70%;
  background-color: var(--background-secondary);
  padding: 2rem;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 1rem;
}
.ratings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 100%;

  border-radius: 10px;
}
.post-container.single-post {
  border-radius: 10px 10px 0 0;
}
.rating-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	max-width: 70%;
	background-color: var(--background-secondary);
	padding: 2rem;
	border-radius: 10px;
}
.rating-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 1rem;
}
.rating-title {
	font-size: 1.5rem;
	font-weight: 900;
}
.rating-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
}
time {
	font-size: .8rem;
	font-weight: 500;
	font-style: italic;
}
/*Header */
.app-header {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
  width: 100%;
  max-width: 70%;
	padding: 1rem;
}
.filter-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	max-width: 100%;
  width: 100%;
	background-color: var(--background-secondary);
	padding: 1rem;
	border-radius: 10px;
  flex-wrap: wrap;
}

.filter-select {
	border: none;
	background-color: var(--background-secondary);
	color: var(--text);
	font-size: 1rem;
	font-weight: 500;
}
.filter-form button, button.image-type {
  border: none;
  background-color: var(--background);
  border-radius: 20px;
  color: var(--text-secondary);
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  font-weight: 900;
  transition: .3s;
}
.filter-form button.active, button.image-type.active {
  color: var(--text);

  text-shadow: 0 0 20px #888888;
}

.create-post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	max-width: 100%;
	background-color: var(--background-secondary);

	border-radius: 10px;
}
button.create-post-btn {
	background-color: var(--background-secondary);
  width: 100%;
  font-weight: 900;

}

.container.cat-facts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	max-width: 80%;
	background-color: var(--background-secondary);
	padding: 1rem;
	border-radius: 10px;
	text-align: center;
}
.note {
	font-size: .8rem;
	font-weight: 500;
	font-style: italic;
	color: var(--text-disabled);
}
.profile-image {
	object-fit: cover;
	width: 5rem;
	height: 5rem;
	border-radius: 10rem;
  
}
.profile-image.nav-image {
	width: 2rem;
	height: 2rem;
	border-radius: 10rem;
}
.nav-pfp {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;
}

/* about */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  max-width: 100%;
  padding: 2rem;
  margin: 5rem auto;
  border-radius: 10px;
}